{% extends 'base.html' %}
{% load static %}
{% load poll-extras %}

{% block title %}Products{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static "products/css/products.css" %}">
{% endblock %}

{% block content %}

    {% include "products/filters.html" %}

    <div class="container products">
        {% for product in products %}
            <div class="products__product">
                <img alt="{{ product.name }}" src="../static/img/{{ product.title|validate|lower }}.jpeg">
                <a href="/prd?title={{ product.title }}"><h3 class="product__name">{{ product.title }}</h3></a>
                <p class="product__price">{{ product.price }}</p>
                <p class="product__short_description">{{ product.short_description }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}